*.class
/plugins/de.ovgu.featureide.examples/featureide_examples/DiGraph-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/Elevator-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/Email-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/ExamDB-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/GPL-FH-JML/bin
/plugins/de.ovgu.featureide.examples/featureide_examples/GPL-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/GPLscratch-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/IntegerSet-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/IntList-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/Numbers-consecutive-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/Numbers-explicit-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/Numbers-overriding-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/UnionFind-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/PokerSPL-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/Paycard-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/Numbers-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/BankAccount-FH-JML/src
/plugins/de.ovgu.featureide.examples/featureide_examples/ExamDB-FH-JML-withoutPMR/src
/plugins/de.ovgu.featureide.examples/featureide_examples/StringMatcher-FH-JML/src
/tests/de.ovgu.featureide.fm.core-test/.featureide/
/tests/de.ovgu.featureide.fm.core-test/feature_model_tmp**
**/target