#Fri Oct 08 13:37:14 CEST 2010
autotestsuite.class.exclusions=.*All(Tests|PDE_Tests|_Tests|PDETests).*
pluginbuilder.features=de.ovgu.featureide.featuremodeling,de.ovgu.featureide,de.ovgu.featureide.featurecpp,de.ovgu.featureide.featurehouse,de.ovgu.featureide.test
pluginbuilder.is.svn=false
autotestsuite.class.inclusions=.*
pluginbuilder.is.runtests=false
autotestsuite.plugin.inclusions=.*(test|tests)$;.*(Test)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=true
pluginbuilder.is.rcpbuild=false
