<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<!-- Menu Contributions -->
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			class="org.deltaj.transformations.ui.menu.TransformationContributions"
			locationURI="popup:org.deltaj.ui.outline?after=additions">
		</menuContribution>
	</extension>

	<!-- Commands -->
	<extension point="org.eclipse.ui.commands">
		<command
			id="RENAME_ELEMENT"
			name="Rename Element"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="REMOVE_FEATUE"
			name="Remove Feature"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>
		
		<command
			id="REMOVE_UNUSED_FEATURES"
			name="Remove Unused Features"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>
		
		<command
			id="REMOVE_PRODUCT"
			name="Remove Product"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="REMOVE_DELTA_MODULE"
			name="Remove Delta Module"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="REMOVE_DELTA_ACTION"
			name="Remove Delta Action"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="REMOVE_EMPTY_DELTA_MODULES"
			name="Remove Empty Delta Modules"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="EXTRACT_DELTA_ACTION"
			name="Extract Delta Action"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="EXTRACT_MATCHING_ACTIONS"
			name="Extract Matching Actions"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="RESOLVE_REMOVAL_ACTION"
			name="Resolve Removal Action"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="RESOLVE_MODIFICATION_ACTION"
			name="Resolve Modification Action"
			description=""
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="MERGE_COMPATIBLE_DELTA_MODULES"
			name="Merge Compatible Delta Modules"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="MERGE_DELTA_MODULES_WITH_INVERSES"
			name="Merge Delta Modules With Inverses"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="SIMPLIFY_APPLICATION_CONDITIONS"
			name="Simplify Application Conditions"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="SIMPLIFY_FEATURE_CONFIGURATIONS"
			name="Simplify Feature Configurations"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>

		<command
			id="MERGE_CONFIGURATIONS_INTO_CONDITIONS"
			name="Merge Feature Configurations into Application Conditions"
			defaultHandler="org.deltaj.transformations.ui.handler.DelegatingCommandHandler">
		</command>
	</extension>
	
</plugin>
