<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.core.typechecking.TypecheckContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
            <objectState
                  name="nature"
                  value="de.ovgu.featureide.core.featureProjectNature">
            </objectState>
         </visibility>
         <action
               class="de.ovgu.featureide.core.typecheck.actions.TypecheckAction"
               id="de.ovgu.featureide.typecheck.check"
               label="SPL Type Check"
               menubarPath="de.ovgu.featureide.ui.menu/typechecker"
               style="push">
         </action>
      </objectContribution>
   </extension>

</plugin>
