<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.ovgu.featureide.examples"
            name="FeatureIDE"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            category="org.eclipse.ui.Examples/de.ovgu.featureide.examples"
            class="de.ovgu.featureide.examples.wizards.ExampleNewWizard"
            icon="icons/FeatureIcon.png"
            id="de.ovgu.featureide.examples.SampleNewWizard"
            name="FeatureIDE Examples">
      </wizard>
   </extension>

</plugin>
