<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="de.ovgu.featureide.ui.category"
            class="de.ovgu.featureide.ui.wizards.NewFeatureProjectWizard"
            hasPages="true"
            icon="icons/NewFeatureProjectIcon.png"
            id="de.ovgu.featureide.ui.FeatureProjectWizard"
            name="FeatureIDE Project"
            project="true"/>
      <wizard
            canFinishEarly="false"
            category="de.ovgu.featureide.ui.category"
            class="de.ovgu.featureide.ui.wizards.NewFeatureIDEFileWizard"
            hasPages="true"
            icon="icons/NewFeatureProjectIcon.png"
            id="de.ovgu.featureide.ui.wizards.NewFeatureIDEFileWizard"
            name="FeatureIDE File">
      </wizard>
      <wizard
            category="de.ovgu.featureide.ui.category"
            class="de.ovgu.featureide.ui.wizards.NewConfigurationFileWizard"
            icon="icons/NewConfigurationIcon.png"
            id="de.ovgu.featureide.ui.wizards.NewConfigurationFileWizard"
            name="Configuration File"/>
      <category
            id="de.ovgu.featureide.ui.category"
            name="FeatureIDE">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.actions.conversionaction"
            objectClass="org.eclipse.core.resources.IProject">
         <visibility>
         	<not>
         		<objectState
         			name="nature"
         			value="de.ovgu.featureide.core.featureProjectNature">
         		</objectState>	
         	</not>
         </visibility>
         <action
               class="de.ovgu.featureide.ui.actions.ConversionAction"
               id="de.ovgu.featureide.ui.actions.conversionaction1"
               icon="icons/FeatureIconSmall.ico"
               label="Add FeatureIDE Nature"
               menubarPath="de.ovgu.featureide.fm.ui.menu/ui"
               style="push">
         </action>
      </objectContribution>
     <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.variantBuilder"
            objectClass="org.eclipse.core.resources.IProject">  
         <action
               class="de.ovgu.featureide.ui.actions.generator.BuildAllValidConfigurationsAction"
               id="de.ovgu.featureide.ui.actions.buildallvalidconfigurationsaction"
               icon="icons/FeatureIconSmall.ico"
               label="Build All Valid Configurations"
               menubarPath="de.ovgu.featureide.fm.ui.menu/ui"
               tooltip="Builds all possible configurations."
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.actions.generator.BuildAllConfigurationsAction"
               id="de.ovgu.featureide.ui.actions.buildallconfigurationsaction"
               icon="icons/FeatureIconSmall.ico"
               label="Build All Current Configurations"
               menubarPath="de.ovgu.featureide.fm.ui.menu/ui"
               tooltip="Builds all current configurations."
               style="push">
         </action>
         <visibility>
         	<objectState
         		name="nature"
         		value="de.ovgu.featureide.core.featureProjectNature">
         	</objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.configFileContribution"
            nameFilter="*.config"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.ovgu.featureide.ui.actions.SetConfigurationAction"
               icon="icons/currentconfiguration.gif"
               id="de.ovgu.featureide.ui.setEquationAction"
               label="Set as current configuration"
               menubarPath="group.open"
               tooltip="Only the current configuration is build">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.configFileContribution"
            nameFilter="*.equation"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.ovgu.featureide.ui.actions.SetConfigurationAction"
               icon="icons/currentconfiguration.gif"
               id="de.ovgu.featureide.ui.setEquationAction"
               label="Set as current configuration"
               menubarPath="group.open"
               tooltip="Only the current equation is build">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.configFileContribution"
            nameFilter="*.expression"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.ovgu.featureide.ui.actions.SetConfigurationAction"
               icon="icons/currentconfiguration.gif"
               id="de.ovgu.featureide.ui.setEquationAction"
               label="Set as current configuration"
               menubarPath="group.open"
               tooltip="Only the current equation is build">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="de.ovgu.featureide.ui.decorators.ActiveConfigurationDecorator"
            id="de.ovgu.featureide.ui.decorators.ActiveEquationDecorator"
            label="Active Equation Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="de.ovgu.featureide.ui.decorators.FeatureFolderDecorator"
            id="de.ovgu.featureide.ui.decorators.FeatureFolderDecorator"
            label="Feature Folder Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IFolder"/>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="de.ovgu.featureide.ui.decorators.FeatureProjectDecorator"
            icon="icons/FeatureProjectDecorator.png"
            id="de.ovgu.featureide.ui.decorators.FeatureProjectDecorator"
            label="Feature Project Decorator"
            lightweight="true"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>  
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="de.ovgu.featureide.fm.ui.views.FeatureModelEditView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="de.ovgu.featureide.ui.views.FeatureStatistics"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="FeatureIDE"
            class="de.ovgu.featureide.ui.views.collaboration.CollaborationView"
            icon="icons/FeatureIconSmall.ico"
            id="de.ovgu.featureide.ui.views.collaboration.Collaboration"
            name="Collaboration Diagram"
            restorable="true">
      </view>
      <view
            category="FeatureIDE"
            class="de.ovgu.featureide.ui.views.collaboration.outline.CollaborationOutline"
            icon="icons/FeatureIconSmall.ico"
            id="de.ovgu.featureide.ui.views.collaboration.outline.CollaborationOutline"
            name="Collaboration Outline"
            restorable="true">
      </view>
      <view
            category="FeatureIDE"
            class="de.ovgu.featureide.ui.views.FeatureStatistics"
            icon="icons/FeatureIconSmall.ico"
            id="de.ovgu.featureide.ui.views.FeatureStatistics"
            name="FeatureStatistics"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.ovgu.featureide.ui.perspective.PerspectiveFactory"
            icon="icons/FeatureIconSmall.ico"
            id="de.ovgu.featureide.ui.FeatureIDEperspective"
            name="FeatureIDE">
      </perspective>
   </extension>
   
   <extension point="org.eclipse.core.contenttype.contentTypes">
	   <content-type base-type="org.eclipse.core.runtime.xml"
	                 file-extensions="jak"
	                 id="de.ovgu.featureide.contenttype.jak"
	                 name="Jak (for FeatureIDE projects)"
	                 priority="high"/>
    <content-type
          base-type="org.eclipse.jdt.core.javaSource"
          file-extensions="java"
          id="de.ovgu.featureide.contenttype.java"
          name="Java (for FeatureIDE projects)"
          priority="high">
    </content-type>
    <content-type
          base-type="org.eclipse.core.runtime.text"
          file-extensions="jak"
          id="de.ovgu.featureide.contenttype.extJak"
          name="Jak (for non-FeatureIDE projects)"
          priority="low">
    </content-type>
	</extension>
	
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.ovgu.featureide.ui.editors.JavaEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
           	default="true"
            icon="icons/JakFileIcon.png"
            id="de.ovgu.featureide.ui.editors.JakEditor"
            name="Jak Editor">
            <contentTypeBinding
     		    contentTypeId="de.ovgu.featureide.contenttype.jak">
    		  </contentTypeBinding>
      </editor>
      <editor
            class="de.ovgu.featureide.ui.editors.JavaEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            icon="icons/JakFileIcon.png"
            id="de.ovgu.featureide.ui.editors.JavaEditor"
            name="Extended Java Editor">
         <contentTypeBinding
               contentTypeId="de.ovgu.featureide.contenttype.java">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
