<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="FMComposer" name="fmComposer" schema="schema/fmComposer.exsd"/>
   <extension-point id="FMFactory" name="fmFactory" schema="schema/fmFactory.exsd"/>
   <extension-point id="FMFormat" name="fmFormat" schema="schema/fmFormat.exsd"/>
   <extension-point id="ConfigFormat" name="configFormat" schema="schema/ConfigFormat.exsd"/>
   <extension
      id="de.ovgu.featureide.fm.core.featureModelMarker"
      name="Feature Model Marker"
      point="org.eclipse.core.resources.markers">
	   <persistent
	         value="true">
	   </persistent>
	   <super
	         type="org.eclipse.core.resources.problemmarker">
	   </super>
    </extension>
   <extension
         point="de.ovgu.featureide.fm.core.FMFactory">
      <fmFactory
            class="de.ovgu.featureide.fm.core.base.impl.DefaultFeatureModelFactory"
            id="de.ovgu.featureide.fm.core.DefaultFeatureModelFactory"
            name="DefaultFeatureModelFactory">
      </fmFactory>
      <fmFactory
            class="de.ovgu.featureide.fm.core.base.impl.ExtendedFeatureModelFactory"
            id="de.ovgu.featureide.fm.core.ExtendedFeatureModelFactory"
            name="ExtendedFeatureModelFactory">
      </fmFactory>
   </extension>
   <extension
         point="de.ovgu.featureide.fm.core.FMFormat">
      <fmFormat
            class="de.ovgu.featureide.fm.core.io.dimacs.DIMACSFormat"
            id="de.ovgu.featureide.fm.core.format.DIMACSFormat"
            name="DIMACS">
      </fmFormat>
      <fmFormat
            class="de.ovgu.featureide.fm.core.io.guidsl.GuidslFormat"
            id="de.ovgu.featureide.fm.core.format.GuidslFormat"
            name="Guidsl">
      </fmFormat>
      <fmFormat
            class="de.ovgu.featureide.fm.core.io.sxfm.SXFMFormat"
            id="de.ovgu.featureide.fm.core.format.SXFMFormat"
            name="SXFM">
      </fmFormat>
      <fmFormat
            class="de.ovgu.featureide.fm.core.io.velvet.VelvetFeatureModelFormat"
            id="de.ovgu.featureide.fm.core.format.VelvetFeatureModelFormat"
            name="Velvet">
      </fmFormat>
      <fmFormat
            class="de.ovgu.featureide.fm.core.io.xml.XmlFeatureModelFormat"
            id="de.ovgu.featureide.fm.core.format.XmlFeatureModelFormat"
            name="XML">
      </fmFormat>
      <fmFormat
            class="de.ovgu.featureide.fm.core.io.fama.FAMAFormat"
            id="de.ovgu.featureide.fm.core.format.FAMAFormat"
            name="FAMA">
      </fmFormat>
      <fmFormat
            class="de.ovgu.featureide.fm.core.io.cnf.CNFFormat"
            id="de.ovgu.featureide.fm.core.format.CNFFormat"
            name="CNF">
      </fmFormat>
      <fmFormat
            class="de.ovgu.featureide.fm.core.io.splconquerer.ConquererFMWriter"
            id="de.ovgu.featureide.fm.core.format.ConquererFMWriter"
            name="SPLConquerer">
      </fmFormat>
   </extension>
   <extension
         point="de.ovgu.featureide.fm.core.ConfigFormat">
      <configFormat
            class="de.ovgu.featureide.fm.core.configuration.DefaultFormat"
            id="de.ovgu.featureide.fm.core.format.config.DefaultFormat"
            name="DefaultFormat">
      </configFormat>
      <configFormat
            class="de.ovgu.featureide.fm.core.configuration.XMLConfFormat"
            id="de.ovgu.featureide.fm.core.format.config.XMLFormat"
            name="XMLFormat">
      </configFormat>
      <configFormat
            class="de.ovgu.featureide.fm.core.configuration.FeatureIDEFormat"
            id="de.ovgu.featureide.fm.core.format.config.FeatureIDEFormat"
            name="FeatureIDEFormat">
      </configFormat>
      <configFormat
            class="de.ovgu.featureide.fm.core.configuration.EquationFormat"
            id="de.ovgu.featureide.fm.core.format.config.EquationFormat"
            name="EquationFormat">
      </configFormat>
      <configFormat
            class="de.ovgu.featureide.fm.core.configuration.ExpressionFormat"
            id="de.ovgu.featureide.fm.core.format.config.ExpressionFormat"
            name="ExpressionFormat">
      </configFormat>
   </extension>
</plugin>