<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.ovgu.featureide.core.composers">
      <composer
            class="de.ovgu.featureide.featurecpp.FeatureCppComposer"
            description="Feature-oriented programming for C++ header files."
            id="de.ovgu.featureide.composer.featurecpp"
            name="FeatureC++"
            nature="FeatureIDE_Core.featureCPPNature">
      </composer>
   </extension>
   <extension
         point="de.ovgu.featureide.fm.core.FMComposer">
      <fmComposer
            class="de.ovgu.featureide.featurecpp.FeatureCppFMComposerExtension"
            composer="de.ovgu.featureide.composer.featurecpp"
            id="de.ovgu.featureide.core.featurecpp.fmComposer"
            name="de.ovgu.featureide.core.featurecpp.fmComposer">
      </fmComposer>
   </extension>

</plugin>
