<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="FeatureIDE"
            class="de.ovgu.featureide.fm.extended.ui.views.FeatureModelAnalysisView"
            icon="icons/FeatureIconSmall.ico"
            id="de.ovgu.featureide.fm.ui.views.FeatureModelAnalysisView"
            name="Feature Model Analysis">
      </view>
   </extension>

</plugin>
