<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
			point="de.ovgu.featureide.core.composers">
		<composer
				class="de.ovgu.featureide.munge.MungePreprocessor"
				description="A purposely-simple preprocessor for Java files."
				id="de.ovgu.featureide.preprocessor.munge"
				name="Munge"
				nature="FeatureIDE_Core.mungeNature">
		</composer>
	</extension>
	<extension
			point="de.ovgu.featureide.fm.core.FMComposer">
		<fmComposer
				class="de.ovgu.featureide.munge.MungeFMComposerExtension"
				composer="de.ovgu.featureide.preprocessor.munge"
				id="de.ovgu.featureide.core.munge.fmcomposer"
				name="MungFMComposer">
		</fmComposer>
	</extension>
	<extension
			point="org.eclipse.core.expressions.definitions">
		<definition
				id="de.ovgu.featureide.core.munge.expressions.hasComposer">
			<with
					variable="activeMenuSelection">
				<iterate
						ifEmpty="false"
						operator="and">
					<test
							args="de.ovgu.featureide.preprocessor.munge"
							property="de.ovgu.featureide.fm.ui.properties.composer">
					</test>
				</iterate>
			</with>
		</definition>
	</extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          id="de.ovgu.featureide.core.munge.ui.commands.signature"
          name="Enable Signature Computation">
       <state
             class="org.eclipse.jface.commands.ToggleState"
             id="org.eclipse.ui.commands.toggleState">
       </state>
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          locationURI="popup:de.ovgu.featureide.fm.ui.menus.popupMenu?before=de.ovgu.featureide.fm.ui.menus.popupMenu.submenus">
       <menu
             icon="icons/FeatureIconSmall.ico"
             id="de.ovgu.featureide.munge.ui.submenu"
             label="Munge">
          <command
                commandId="de.ovgu.featureide.core.munge.ui.commands.signature"
                id="de.ovgu.featureide.core.munge.ui.actions.munge"
                label="Enable Signatures"
                style="toggle">
             <visibleWhen
                   checkEnabled="false">
                <with
                      variable="activeMenuSelection">
                   <and>
                      <count
                            value="1">
                      </count>
                      <reference
                            definitionId="de.ovgu.featureide.ui.expressions.containsOnlyProjects">
                      </reference>
                      <test
                            args="de.ovgu.featureide.core.munge.ui.commands.signature"
                            property="de.ovgu.featureide.core.munge.properties.toggle.signature">
                      </test>
                   </and>
                </with>
             </visibleWhen>
          </command>
          <visibleWhen
                checkEnabled="false">
             <with
                   variable="activeMenuSelection">
                <iterate
                      ifEmpty="false"
                      operator="or">
                   <test
                         args="de.ovgu.featureide.preprocessor.munge"
                         property="de.ovgu.featureide.fm.ui.properties.composer">
                   </test>
                </iterate>
             </with>
          </visibleWhen>
       </menu>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="de.ovgu.featureide.munge.ui.handlers.EnableSignatureHandler"
          commandId="de.ovgu.featureide.core.munge.ui.commands.signature">
    </handler>
 </extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="de.ovgu.featureide.munge.ui.handlers.toggle.SignatureToggleTester"
          id="de.ovgu.featureide.core.munge.toggleTester.signature"
          namespace="de.ovgu.featureide.core.munge.properties.toggle"
          properties="signature"
          type="org.eclipse.jface.viewers.IStructuredSelection">
    </propertyTester>
 </extension>
</plugin>
