<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.ovgu.featureide.core.composers">
      <composer
            class="de.ovgu.featureide.featurehouse.FeatureHouseComposer"
            description="Feature-oriented programming for several structured file types (e.g. Java 1.5)."
            id="de.ovgu.featureide.composer.featurehouse"
            name="FeatureHouse"
            nature="FeatureIDE_Core.featureHouseNature">
      </composer>
   </extension>
	<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.featurehouse.meta.buildmetaproduct"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.ovgu.featureide.featurehouse.ui.actions.BuildMetaProductAction"
               enablesFor="1"
               id="de.ovgu.featureide.featurehouse.meta.buildmetaproductaction"
               label="Build Metaproduct"
               menubarPath="de.ovgu.featureide.fm.ui.menu/featurehouse"
               style="toggle">
         </action>
         <action
               class="de.ovgu.featureide.featurehouse.ui.actions.EnableFujiAction"
               enablesFor="1"
               id="de.ovgu.featureide.featurehouse.ui.enablefujiaction"
               label="Enable Fuji Type Check"
               menubarPath="de.ovgu.featureide.fm.ui.menu/featurehouse"
               style="toggle">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="de.ovgu.featureide.core.featureProjectNature">
            </objectState>
         </visibility>
      </objectContribution>
	</extension>
 <extension
       id="de.ovgu.featureide.featurehouse.meta.verificationmarker"
       name="Verifikation Marker"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.problemmarker">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       point="de.ovgu.featureide.core.wizard">
    <newProjectWizard
          class="de.ovgu.featureide.core.wizardextension.DefaultNewFeatureProjectWizardExtension"
          composerid="de.ovgu.featureide.composer.featurehouse"
          id="de.ovgu.featureide.core.featurehouse.newProjectWizard"
          name="FeatureHouseNewProjectWizard">
    </newProjectWizard>
 </extension>
</plugin>
