<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.ovgu.featureide.ui.ahead.editors.JakEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="jak"
            icon="icons/JakFileIcon.png"
            id="de.ovgu.featureide.ui.editors.JakEditor"
            name="Jak Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="de.ovgu.featureide.ui.ahead.properties.BuildPathPropertyPage"
            id="de.ovgu.featureide.ui.ahead.properties.BuildPathPropertyPage"
            name="Java Build Path">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
</plugin>
