<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.ovgu.featureide.core.composers">
      <composer
            class="au.edu.swin.featureide.road.RoadComposer"
            description="Configurable, adaptable services"
            id="au.edu.swin.featureide.road.composer"
            name="Road"
            nature="au.edu.swin.featureide.road">
      </composer>
   </extension>

</plugin>
