<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
			point="org.eclipse.ui.decorators">
		<decorator
				adaptable="true"
				class="de.ovgu.featureide.ui.mpl.InterfaceProjectDecorator"
				icon="icons/FeatureProjectDecorator.png"
				id="de.ovgu.featureide.ui.mpl.InterfaceProjectDecorator"
				label="Interface Project Decorator"
				lightweight="true"
				state="true">
			<enablement>
				<objectClass
						name="org.eclipse.core.resources.IProject">
				</objectClass>
			</enablement>
		</decorator>
	</extension>
	<!--   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.mpl.projectContribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.ovgu.featureide.ui.mpl.actions.interfaces.AddInterfaceNatureAction"
               id="de.ovgu.featureide.ui.mpl.AddNature"
               label="Add Interface Nature"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces3"
               style="push">
         </action>
         <visibility>
            <and>
               <objectState
                     name="nature"
                     value="de.ovgu.featureide.core.featureProjectNature">
               </objectState>
               <not>
                  <objectState
                        name="nature"
                        value="de.ovgu.featureide.core.mpl.interfaceProjectNature">
                  </objectState></not>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.mpl.projectContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.ovgu.featureide.ui.mpl.actions.interfaces.BuildExtendedModulesAction"
               id="de.ovgu.featureide.ui.mpl.ProjectAction"
               label="Build Extended Modules"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces0"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.interfaces.BuildConfigurationInterfacesAction"
               id="de.ovgu.featureide.ui.mpl.BuildConfigurationInterfacesAction"
               label="Build Configuration Interfaces"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces1"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.interfaces.BuildFeatureInterfacesAction"
               id="de.ovgu.featureide.ui.mpl.BuildFeatureInterfacesAction"
               label="Build Feature Interfaces"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces1"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.interfaces.RefreshAction"
               id="de.ovgu.featureide.ui.mpl.RefreshAction"
               label="Refresh"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces3"
               style="push">
         </action>
         <visibility>
            <objectState
                  name="nature"
                  value="de.ovgu.featureide.core.mpl.interfaceProjectNature">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.mpl.configContribution"
            nameFilter="interface_*"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="de.ovgu.featureide.ui.mpl.actions.interfaces.BuildJavaProjectAction"
               id="de.ovgu.featureide.ui.mpl.BuildJavaProjectAction"
               label="Build Java Interface Project"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces"
               style="push">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="de.ovgu.featureide.core.mpl.interfaceProjectNature">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.mpl.projectContribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.ovgu.featureide.ui.mpl.actions.viewtags.NewViewTagAction"
               id="de.ovgu.featureide.ui.mpl.NewViewTagAction"
               label="Add View Tag"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces2"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.viewtags.DeleteViewTagAction"
               id="de.ovgu.featureide.ui.mpl.DeleteViewTagAction"
               label="Delete View Tag"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces2"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.viewtags.ChangeViewTagAction"
               id="de.ovgu.featureide.ui.mpl.ChangeViewTagAction"
               label="Change View Tag"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces2"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.statistics.PrintAllStatisticsAction"
               id="de.ovgu.featureide.ui.mpl.AllStatisticsAction"
               label="Print Statistics"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces0"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.documentation.BuildDocStatisticsAction"
               id="de.ovgu.featureide.ui.mpl.BuildDocStatisticsAction"
               label="Print Documentation Statistics"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces2"
               style="push">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="de.ovgu.featureide.core.mpl.MPLExperimentalNature">
            </objectState>
         </visibility>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.documentation.BuildDocModuleAction"
               id="de.ovgu.featureide.ui.mpl.BuildDocModuleAction"
               label="Generate Featuremodule Documentation"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces2"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.documentation.BuildDocContextAction"
               id="de.ovgu.featureide.ui.mpl.BuildDocContextAction"
               label="Generate Context Documentation"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces2"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.documentation.BuildDocSPLAction"
               id="de.ovgu.featureide.ui.mpl.BuildDocSPLAction"
               label="Generate SPL Documentation"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces2"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.documentation.BuildDocVariantAction"
               id="de.ovgu.featureide.ui.mpl.BuildDocVariantAction"
               label="Generate Variant Documentation"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces2"
               style="push">
         </action>
         <action
               class="de.ovgu.featureide.ui.mpl.actions.interfaces.CompareInterfacesAction"
               id="de.ovgu.featureide.ui.mpl.CompareInterfacesAction"
               label="Compare Configuration Interfaces"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces1"
               style="push">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.mpl.projectContribution3"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.ovgu.featureide.ui.mpl.actions.interfaces.RemoveInterfaceNatureAction"
               id="de.ovgu.featureide.ui.mpl.RemoveNature"
               label="Remove Interface Nature"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces3"
               style="push">
         </action>
         <visibility>
            <and>
               <objectState
                     name="nature"
                     value="de.ovgu.featureide.core.featureProjectNature">
               </objectState>
               <objectState
                     name="nature"
                     value="de.ovgu.featureide.core.mpl.interfaceProjectNature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.core.mspl.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.ovgu.featureide.ui.mpl.actions.interfaces.AddMSPLNatureAction"
               id="de.ovgu.featureide.core.mspl.AddNatureAction"
               label="Convert to Multi Software Product Line"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces3"
               style="push">
         </action>
         <visibility>
           <and>
             <objectState
                  name="nature"
                  value="de.ovgu.featureide.core.featureProjectNature">
             </objectState>
             <not>
               <objectState
                    name="nature"
                    value="de.ovgu.featureide.core.mpl.MSPLNature">
               </objectState>
             </not>
           </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.core.mspl.contribution2"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="de.ovgu.featureide.ui.mpl.actions.NewInterfaceAction"
               enablesFor="1"
               id="de.ovgu.featureide.core.mspl.NewInterfaceAction"
               label="Create new Interface"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces3"
               style="push">
         </action>
         <visibility>
           <and>
             <objectState
                  name="nature"
                  value="de.ovgu.featureide.core.featureProjectNature">
             </objectState>
	         <objectState
	              name="nature"
	              value="de.ovgu.featureide.core.mpl.MSPLNature">
	         </objectState>
           </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="de.ovgu.featureide.ui.mpl.mappingContribution"
            nameFilter="*.config"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.ovgu.featureide.ui.mpl.actions.SetMappingAction"
               id="de.ovgu.featureide.ui.mpl.SetMappingAction"
               label="Set Current Mapping"
               menubarPath="de.ovgu.featureide.fm.ui.menu/interfaces"
               style="push">
         </action>
         <visibility>
            <and>
               <objectState
                     name="projectNature"
                     value="de.ovgu.featureide.core.mpl.MSPLNature">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
   </extension>
  -->
	<extension
			point="org.eclipse.ui.menus">
		<menuContribution
				allPopups="false"
				locationURI="popup:de.ovgu.featureide.fm.ui.menus.popupMenu?before=de.ovgu.featureide.fm.ui.menus.popupMenu.submenus">
			<menu
					icon="icons/FeatureIconSmall.ico"
					id="de.ovgu.featureide.ui.mpl.subMenu"
					label="Multi Product Line">
				<visibleWhen
						checkEnabled="false">
					<with
							variable="activeMenuSelection">
						<iterate
								ifEmpty="false"
								operator="or">
							<test
									args="de.ovgu.featureide.core.mpl.MSPLNature"
									property="de.ovgu.featureide.fm.ui.properties.nature"
									value="true">
							</test>
						</iterate>
					</with>
				</visibleWhen>
			</menu>
			<menu
					icon="icons/FeatureIconSmall.ico"
					id="de.ovgu.featureide.ui.mpl.subMenuNoMPL"
					label="Multi Product Line">
				<visibleWhen
						checkEnabled="false">
					<with
							variable="activeMenuSelection">
						<iterate
								ifEmpty="false"
								operator="or">
							<test
									args="de.ovgu.featureide.core.mpl.MSPLNature"
									property="de.ovgu.featureide.fm.ui.properties.nature"
									value="false">
							</test>
						</iterate>
					</with>
				</visibleWhen>
				<command
						commandId="de.ovgu.featureide.ui.mpl.commands.conversion"
						id="de.ovgu.featureide.ui.mpl.commands.conversion"
						label="Convert to MPL Project"
						style="push">
					<visibleWhen
							checkEnabled="false">
						<reference
								definitionId="de.ovgu.featureide.ui.expressions.containsOnlyProjects">
						</reference>
					</visibleWhen>
				</command>
			</menu>
		</menuContribution>
		<menuContribution
				allPopups="false"
				locationURI="popup:de.ovgu.featureide.ui.mpl.subMenu">
			<command
					commandId="de.ovgu.featureide.ui.mpl.commands.newInterface"
					icon="icons/featuretree.ico"
					id="de.ovgu.featureide.ui.mpl.actions.newInterface"
					label="Create New Interface Model"
					style="push">
				<visibleWhen
						checkEnabled="false">
					<reference
							definitionId="de.ovgu.featureide.ui.expressions.containsOnlyProjects">
					</reference>
				</visibleWhen>
			</command>
			<command
					commandId="de.ovgu.featureide.ui.mpl.commands.mapping"
					icon="icons/currentconfiguration.gif"
					label="Set Current Project Mapping"
					style="push">
				<visibleWhen
						checkEnabled="false">
					<and>
						<with
								variable="activeMenuSelection">
							<count
									value="1">
							</count>
						</with>
						<reference
								definitionId="de.ovgu.featureide.fm.ui.expressions.containsConfiguration">
						</reference>
					</and>
				</visibleWhen>
			</command>
			<command
					commandId="de.ovgu.featureide.ui.mpl.commands.statistics"
					id="de.ovgu.featureide.ui.mpl.actions.statistics"
					label="Print MPL Statistics"
					style="push">
				<visibleWhen
						checkEnabled="false">
					<and>
						<reference
								definitionId="de.ovgu.featureide.ui.expressions.containsOnlyProjects">
						</reference>
						<test
								args="de.ovgu.featureide.core.mpl.MPLExperimentalNature"
								property="de.ovgu.featureide.fm.ui.properties.nature"
								value="true">
						</test>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension
			point="org.eclipse.ui.commands">
		<command
				id="de.ovgu.featureide.ui.mpl.commands.conversion"
				name="Convert to MPL Project">
		</command>
		<command
				id="de.ovgu.featureide.ui.mpl.commands.mapping"
				name="Set current project mapping">
		</command>
		<command
				id="de.ovgu.featureide.ui.mpl.commands.statistics"
				name="Print MPL Statistics">
		</command>
  <command
        id="de.ovgu.featureide.ui.mpl.commands.newInterface"
        name="New Interface">
  </command>
	</extension>
	<extension
			point="org.eclipse.ui.handlers">
		<handler
				class="de.ovgu.featureide.ui.mpl.handlers.AddMSPLNatureHandler"
				commandId="de.ovgu.featureide.ui.mpl.commands.conversion">
		</handler>
		<handler
				class="de.ovgu.featureide.ui.mpl.handlers.SetMappingHandler"
				commandId="de.ovgu.featureide.ui.mpl.commands.mapping">
		</handler>
		<handler
				class="de.ovgu.featureide.ui.mpl.handlers.statistics.PrintAllStatisticsHandler"
				commandId="de.ovgu.featureide.ui.mpl.commands.statistics">
		</handler>
  <handler
        class="de.ovgu.featureide.ui.mpl.handlers.NewInterfaceHandler"
        commandId="de.ovgu.featureide.ui.mpl.commands.newInterface">
  </handler>
	</extension>
</plugin>
