<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:de.ovgu.featureide.fm.ui.menus.popupMenuNoFP">
         <command
               commandId="de.ovgu.featureide.ui.variantimport.commands.SPLMigration"
               id="de.ovgu.featureide.ui.variantimport.actions.SPLMigration"
               label="Create new FeatureIDE Project from Product Variants"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <test
                              property="de.ovgu.featureide.fm.ui.properties.class"
                              value="org.eclipse.core.resources.IProject">
                        </test>
                        <test
                              args="de.ovgu.featureide.core.featureProjectNature"
                              property="de.ovgu.featureide.fm.ui.properties.nature"
                              value="false">
                        </test>
                        <test
                              args="org.eclipse.jdt.core.javanature"
                              property="de.ovgu.featureide.fm.ui.properties.nature"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.ovgu.featureide.ui.migration.plugin.SPLMigrationCommandHandler"
            id="de.ovgu.featureide.ui.variantimport.commands.SPLMigration"
            name="Import...">
      </command>
   </extension>

</plugin>
